//
//  TextKeyConfig.xcconfig
//  VirtualTourist
//
//  Created by NTG on 11/3/19.
//  Copyright © 2019 NTG. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

FLICKR_API_KEY = a4b05476985821daf2c794037c702ac8


d3ad3ef08575336e
